.color {
  width: 150px;
  height: 150px;
  margin-right: 30px; /* Réduire la marge pour un alignement plus serré */
  clip-path: path(
    "M30 20C45 30 50 32 65 35C80 34 88 28 92.5 1.5C98 0.5 100 7 102 16C104 25 90 28.5 93 35C99 43 98 45 97 56.25C93 72.5 47.5 89.25 42.75 84.75C37 80.25 42.5 69.875 34.75 63.75C24.5 68.45 18.94 72.1725 8 61.25C6 13.5 10.87 11.29 30 20Z"
  );
}

#liste {
  margin-left: 10px;
  display: flex;
  margin-top: 40px;
}

#palete {
  margin-left: 30px;
  width: 100%;
  margin-top: 20px;
}

h1 {
  margin-left: 30px;
  margin-top: 20px;
}

#comptelien {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#comptelien a {
  color: black;
}
